.signup-container{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* background: linear-gradient(117.16deg,#cbedf9 26.56%,#a8dfff 83.56%); */
    /* background-color: #DA344D; */
}
.signup-form-container{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: #fff;
        padding: 24px 20px;
        margin: 2% 30%;
        border: 1px solid #cad3dd;
        border-radius: 10px;
}
.signup-form-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #101a34;
    text-align: left;
}
.signup-form-button{
    background: #fff;
            border: 1px solid #50bcd9;
            border-radius: 4px;
            padding: 10px 17px;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            width: 49%;
            align-items: center;
            gap: 10px;
            color: #292929;
}
@media (max-width: 1000px){
    .signup-container{
        padding:0;
        width: 100%;
        height: 100%;
    }
    .signup-form-container{
        padding:5%;
        margin: 5%;
        margin-top: 17%;
    }
    .signup-form-button{
        width: 100%;
    }
  
}