.faq-container{
    height: 100%;
        width: 100vw;
        padding: 5%;
        background-color: #fff;
        color: #121212;
        display: flex;
        flex-direction: column;
        gap:10%;
}
.faq-heading{
    font-size: 30px;
    text-align: center;
    color: #101a34;
            font-weight: 600;
            font-family: Poppins;
}

.MuiAccordion-root.accord-container {
    background-color: #fff;
    color: #121212;
    width: 100%;
    height: 100%;
    border: none;
    padding: 2% 0%;
    margin: 0;
  }
.accord-subhead{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #101828;
}
.accord-para{
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#5e6577;
}

.faq-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap:5%; */
    padding: 2% 10%;
    margin: 0;
}
@media (max-width: 1000px) {
    .faq-container{
        padding: 5%;
    }
    .faq-heading{
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        text-align: center
    }
    .faq-content{
        padding: 0;
        /* height:100%; */
    }
    .accord-subhead{
            font-size: 13px;
    }
}