.firstpage-container{
   
    background-color: #DA344D;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .home-text-section {
    /* margin-left: 20px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  
  .primary-heading {
    /* font-size: clamp(2rem, 5vw, 4rem); */
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    /* color: #101a34; */
    color: "#fff";
    font-size: 70px;
    line-height: 76px;
    text-align: center;   
  
  }
  .primary-text {
   
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: #F4D6CC;
    max-width: 773px;
    /* margin: 1.5rem 0rem; */
  }
  
  @media (max-width: 1000px) {
    .firstpage-container{
      height:100%;
      padding: 5%;
      padding-top: 20%;
     border: none;
    }
    .home-text-section {
      gap:15px;
      width: 100%;
      padding: 0;
    }
    .primary-heading{
      font-size: 36px;
      line-height: 45px;
      
    }
    .primary-text{
      font-size: 17px;
      padding: 0;
            line-height: 22px;
    }
    .secondary-button{
      width: 100%;
      /* border:1px solid red; */
    }
  }
  
  .secondary-button {
   font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #DA344D;
    display: inline-block;
    padding: 12px 20px;
    gap: 10px;
    /* max-width: 201px; */
    height: 46px;
    background: #f59f2f;
    border-radius: 7px;
    /* border: 1px solid #bf1110; */
  }
  /* .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  } */
  .secondary-button:hover {
    background-color: #fff;
    border: 1px solid #DA344D;
    color: #DA344D;
  }