.firstpage-container{
    /* height:calc(100vh - 90px); 
    width: 100vw; */
    /* background-color: #b7e5fc; */
    background-color: #DA344D;
    /* background-image: url("/img/homepage-background.png"); */
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../assets/images/header_background.png") center/cover no-repeat; */
    justify-content: center;
    /* background-image: url("/public/img/bg.png"); */
    /* background-size: 50%;
    background-position: center; */
  }
  .home-text-section {
    /* margin-left: 20px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  
  .primary-heading {
    /* font-size: clamp(2rem, 5vw, 4rem); */
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    /* color: #101a34; */
    color: "#fff";
    font-size: 70px;
    line-height: 76px;
    text-align: center;   
  
  }
  @media (max-width: 1000px) {
    .firstpage-container{
      height:60vh;
      padding: 5%;
     
    }
    .home-text-section {
      gap:15px;
      width: 100%;
      padding: 0;
    }
    .primary-heading{
      font-size: 36px;
      line-height: 45px;
      
    }
    .primary-text{
      font-size: 17px;
      padding: 0;
            line-height: 22px;
    }
    .secondary-button{
      width: 100%;
      border:1px solid red;
    }
  }
  .primary-text {
    /* font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 40px;
    max-width: 700px;
    text-align: center;
    color: #6a6a6a;
    margin-top: 0; */
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #F4D6CC;
    max-width: 773px;
    /* margin: 1.5rem 0rem; */
  }
  .secondary-button {
    /* padding: 1rem 2.5rem;
    background-color: #101a34;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    display: inline-block;
    padding: 12px 20px;
    gap: 10px;
    /* max-width: 201px; */
    height: 46px;
    background: #bf1110;
    border-radius: 7px;
    border: 1px solid #bf1110;
  }
  /* .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  } */
  .secondary-button:hover {
    background-color: #fff;
    border: 1px solid #bf1110;
    color: #bf1110;
  }