.works-container{
    width: 100vw;
    height: 100vh;
    padding:5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: #fff;
}
.works-title-container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works-title{
    color: #101a34;
            font-weight: 600;
            font-family: Poppins;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
}
.works-inner-box{
  display: flex;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  /* padding: 2% 10%; */
}
.works-text-box{
  padding-left: 10%;
  padding-top: 5%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10%;
  
}

.works-img-box {
    background: linear-gradient(129.86deg,#DA344D -41.94%,rgba(80,188,217,0) 111.06%);
/* background-color: #b7e5fc; */
height: 100%;
width: 40%;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 10px; 
}
.works-img{
    padding-top: 5%;
    padding-bottom: 5%;
  /* height: 80%; */
  /* margin-top: 20px;  */
}
.works-text-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #DA344D;
}
.works-button{
    background: #DA344D;
    color: #fff;
    width: 30%;
    /* margin-top: 20px; */
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    font-family: Poppins;
    border-radius: 7px;
    border: 1px solid #DA344D;
    text-transform: none;   
    padding: 12px 20px;
    gap: 10px;
    height: 46px;
   
}
.works-button:hover{
    background-color: #fff;
    color: #DA344D;
    border: 1px solid #DA344D;
}
.works-content{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #101a34;
}
.works-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.works-content-box{
    display: flex;
     align-items: center;
      gap: 20px;
}
.works-content-img{
    width: 35px;
    height: 30px;
    background-color: #DA344D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
@media (max-width: 1000px) {
    .works-container{
        height: 100%;
    }
    .works-title{
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #101a34;
    }
    .works-inner-box{
        display: flex;
        flex-direction: column;
        padding: 5% 0;
        gap: 30px;
    }
    .works-text-box{
      order: 1;
      width: 100%;

    }
    .works-img-box{
        order:2;
        width: 100%;
    }
    .works-text-title{
        font-size: 20px!important;
        line-height: 26px!important;
        width: 100%;
    }
    .works-text-box{
        padding: 0;
        gap: 20px;
    }
    .works-button{
        width: 100%;
    }
}